 <div id="portfolio_page">
     <div class="container">
            <div class="row">
                  <center><h1>Silverton Custom Homes | Portfolio</h1><br /><br /></center>


                      <% @portfolios.each do |portfolio| %>
                      <div id="portfolio_images" class="col-md-3 text-center">
                          <p><%= link_to image_tag(portfolio.image.url), portfolio_path(portfolio) %></p>
                          <h4><%= portfolio.title %></h4>

                          <%= link_to 'Edit', edit_portfolio_path(portfolio) %>
                          <%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>  
                      <% end %>


                  <br>
                  <div class="col-md-12">
                  <%= link_to 'New Portfolio', new_portfolio_path, class: "btn btn-sm" %>
                  </div>
         </div>
    </div>
</div>