<p id="notice"><%= notice %></p>
 <div class="container">
        <div class="row">
<p>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @portfolio.image %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @portfolio.image2 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @portfolio.image3 %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @portfolio.image4 %>
</p>

<p>
  <strong>Image6:</strong>
  <%= @portfolio.image6 %>
</p>

<p>
  <strong>Image8:</strong>
  <%= @portfolio.image8 %>
</p>

<p>
  <strong>Image9:</strong>
  <%= @portfolio.image9 %>
</p>

<p>
  <strong>Image10:</strong>
  <%= @portfolio.image10 %>
</p>

<p>
  <strong>Image11:</strong>
  <%= @portfolio.image11 %>
</p>

<p>
  <strong>Image12:</strong>
  <%= @portfolio.image12 %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>

      </div>
</div>
