
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill"> 
                	<div id="frontimage">
						<p><%= image_tag("2013-Southern-Living-Showcase-Home1.jpg") %></p>
					</div>
                </div>
                <div class="carousel-caption">
                    <h1></h1>
                </div>
            </div>
            <div class="item">
                <div class="fill">
                	<div id="frontimage">
						<p><%= image_tag("Best-Interior-Design.jpg") %></p>
					</div>
                </div>
                <div class="carousel-caption">
                    <h1></h1>
                </div>
            </div>
            <div class="item">
                <div class="fill" >
                	<div id="frontimage">
						<p><%= image_tag("Best-Custom-Spec-Home.jpg") %></p>
					</div>
                </div>
                <div class="carousel-caption">
                    <h1></h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
    <br />
    <!--
<div id="frontimage">
<p><%= image_tag("2013-Southern-Living-Showcase-Home1.jpg") %></p>
</div>

-->
    <div class="container">
        <div class="row">
        	<div id="southern_living">
        	<center><br /><h4 id="footer_text" class="col-md-8 text-center">We’re an Austin home builder that builds and remodels homes in Westlake, Lakeway, Marble Falls, and Lago Vista/Jonestown.
We are the 2013 Southern Living Custom Builder of the Year, and we've been awarded Best Custom Home by the Home Builders Association of Greater Austin for 2011 and 2012.<br /></h4>
<div id="assoc" class="col-md-4"><p><%= image_tag("SL-New.png") %></p><br /><br /></div>
</div>
<hr />
<br />
<div id="featured">
<center><h1 class="col-md-12">Featured Custom Homes<br /><br /></h1></center>
<br /><br />
<center>
	<div id="featured" class= "col-md-3">
		<%= image_tag("Slverton-Southern-Living-Showcase-Home-17-214x119.jpg") %>
		<h3>2013 Southern Living Showcase Home</h3>
	</div>
		<div id="featured" class= "col-md-3">
		<%= image_tag("Canyon-Oaks-Lake-Home-01-214x119.jpg") %>
		<h3>Waterfront Home in Lago Vista</h3>
	</div>
	<div id="featured" class= "col-md-3">
		<%= image_tag("Front2-1-214x119.jpg") %>
		<h3>The Hollows Custom Home</h3>
	</div>
	<div id="featured" class= "col-md-3">
		<%= image_tag("1Front21-214x119.jpg") %>
		<h3>Spanish Oaks Custom</h3>
	<div/>

</center>
<br />
</div>
<center><h1 id="others" class="col-md-12">What Others Are Saying About Us<br /><br /></h1></center>
<br />

<div class="services">
<div class="col-md-4 text-center">
            <div class="service-item"><a href="#search">
              <i class="service-icon fa fa-home"></i>
              <h3>View Portfolio</h3>

                <p>This portfolio is in tune with the design trends of the Texas hill country & greater Austin area. Find the custom home that is laid out the way you envision it to fit your lifestyle. 
</p></a>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="service-item"><a href="#search">
              <i class="service-icon fa fa-home"></i>
              <h3>View Portfolio</h3>

                <p>This portfolio is in tune with the design trends of the Texas hill country & greater Austin area. Find the custom home that is laid out the way you envision it to fit your lifestyle. 
</p></a>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="service-item"><a href="#search">
              <i class="service-icon fa fa-home"></i>
              <h3>View Portfolio</h3>

                <p>This portfolio is in tune with the design trends of the Texas hill country & greater Austin area. Find the custom home that is laid out the way you envision it to fit your lifestyle. 
</p></a>
            </div>
          </div>
      </div>

</div>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>



<script type="text/javascript">
  var $ = jQuery.noConflict();
  $(document).ready(function() { 
      $('#myCarousel').carousel({ interval: 6000, cycle: true });
  }); 
</script>
