    

    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol> 

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <!--
          <div class="overlay">
<div id="port-text" class="col-md-2">
  <%#<%= image_tag("Silverton-Logo-Transparent-small2.png") %>

<p>Thanks for Visiting Silverton Custom Homes.</p>
<p>We can make your Dream Home a reality</p>

</div>
          </div>
        -->
            <div class="item active">
                <div class="fill"> 
                	<div id="frontimage">
						<p><%= image_tag("2013-Southern-Living-Showcase-Home1.jpg") %></p>
					</div>
                </div>
                
            </div>
            <div class="item">
                <div class="fill">
                	<div id="frontimage">
						<p><%= image_tag("Best-Interior-Design.jpg") %></p>
					</div>
                </div>
                
            </div>
            <div class="item">
                <div class="fill" >
                	<div id="frontimage">
						<p><%= image_tag("Best Custom Home - 2012 MAX Award - Slide.jpg") %></p>
					</div>
                </div>
               
            </div>
               <div class="item">
                <div class="fill" >
                  <div id="frontimage">
            <p><%= image_tag("Best-Kitchen.jpg") %></p>
          </div>
                </div>
               
            </div>
            <div class="item">
                <div class="fill" >
                  <div id="frontimage">
            <p><%= image_tag("Best-Custom-Home-2011-MAX-Award-Slide.jpg") %></p>
          </div>
                </div>
               
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
    <br />
    <!--
<div id="frontimage">
<p><%= image_tag("2013-Southern-Living-Showcase-Home1.jpg") %></p>
</div>

-->
    <div class="container">
        <div class="row">
        	<div id="southern_living">
        	<center><br /><h4 id="footer_text" class="col-md-8 text-center">We use our seasoned expertise to partner with you to define your needs, wants and wishes; then build a reflection of them within your budget. We seek to provide our clients with the best products and materials for the money, always seeking the best value available, not necessarily the least expensive price. With a reputation for time-tested quality, energy-efficient design, integrity and a passion for delivering a rewarding experience, the Silverton team will help you realize and live your dream to the fullest.<br /><br /><div id="phone" class="col-md-12">
    <P>Contact Us: 512-267-3777</p><center><p> <br /><br /><i class="down-icon fa fa-chevron-down"></i></center></h4>

<div id="assoc" class="col-md-4">
  <%= image_tag("Silverton-Logo-Transparent-2.png") %>
  <p>
    <%= image_tag("sl-builder-of-the-year2.jpg") %>
  </p>

<br />
</div>
</div>
</div>
</div>

<br />
<div id="featured_sec">
	<center><h1>FEATURED PROPERTIES | 2014 PARADE OF HOMES</h1></center>
  <center><h4>WE WANT TO PERSONALLY INVITE YOU TO COME VISIT US AT THE PARADE OF HOMES! </h4></center>
  <center><p>LOCATED AT WILLIE NELSON'S TIERRA VISTA.  APRIL 26TH - MAY 11TH</p></center>
<div id="featured" class= "col-md-5 text-center">
	<div id="tierra" class="img-responsive">
    <a href="/tierra">
		<center><%= image_tag("tierra vista polaroid.png") %></center>
  </a>
	</div>

	</div>
          <div id="featured_no_tierra">
          <div id="featured" class= "col-md-3 img-responsive text-center">
		<%= link_to image_tag("Worner.JPG"), "/parade_home" %>
		<h3>2014 Parade Home</h3>
	</div>
          <div id="featured" class= "col-md-3 img-responsive text-center">
		<%= lilnk_to image_tag("Star Home Rendering dusk 1st rev.JPG"), "/texas_star" %>
		<h3>Texas Monthly Star Home </h3>
	</div>
</div>
      </div>
 <div class="container">
        <div class="row">
        	<div id="kudos">
				<center><h1 id="others" class="col-md-12">What Others Are Saying About Us<br /><br /></h1></center>
				<br />
				<div class="col-md-5 text-centered">
					<%= image_tag("Back2.jpg") %>
				</div>
				<div class="col-md-7 text-centered">
					<p>Susan and I would like to thank you for building us a wonderful home.  We love it!  The quality and workmanship is excellent. I think we all know it was not the easiest proposition to build a custom home when we were living a long ways away, but it turned out great!  You guys made excellent recommendations from initial plans, through construction and interior design and handled any changes we made look easy.</p>
						<em>– Mitch and Susan Morris</em>
				</div>
			</div>
		</div>



			</div>
<div class="services">
<div class="col-md-3 text-center">
            <div class="service-item"><a href="/register">
              <i class="service-icon fa fa-home"></i>
              <h3>View Plan Portfolio</h3>

                <p>Access our Floor Plans designed by award winning architects 
</p></a>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="service-item"><a href="/awards">
              <i class="service-icon fa fa-trophy"></i>
              <h3>Awards and Accolades</h3>

                <p>Including Southern Living Home of the Year for 2013
</p></a>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="service-item"><a href="/portfolio_main">
              <i class="service-icon fa fa-camera"></i>
              <h3>Gallery of Our Work</h3>

                <p>Selection of Award Winning homes in the greater Austin Area
</p></a>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="service-item"><a href="#">
              <i class="service-icon fa fa-home"></i>
              <h3>Homes and Lots for Sale</h3>

                <p>View the Homes and Lots we have for sale in the Austin Area 
</p></a>
            </div>
          </div>
      </div>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
	+function ($) {
  'use strict';

  // CAROUSEL CLASS DEFINITION
  // =========================

  var Carousel = function (element, options) {
    this.$element    = $(element)
    this.$indicators = this.$element.find('.carousel-indicators')
    this.options     = options
    this.paused      =
    this.sliding     =
    this.interval    =
    this.$active     =
    this.$items      = null

    this.options.pause == 'hover' && this.$element
      .on('mouseenter', $.proxy(this.pause, this))
      .on('mouseleave', $.proxy(this.cycle, this))
  }

  Carousel.DEFAULTS = {
    interval: 5000,
    pause: 'hover',
    wrap: true
  }

  Carousel.prototype.cycle =  function (e) {
    e || (this.paused = false)

    this.interval && clearInterval(this.interval)

    this.options.interval
      && !this.paused
      && (this.interval = setInterval($.proxy(this.next, this), this.options.interval))

    return this
  }

  Carousel.prototype.getActiveIndex = function () {
    this.$active = this.$element.find('.item.active')
    this.$items  = this.$active.parent().children()

    return this.$items.index(this.$active)
  }

  Carousel.prototype.to = function (pos) {
    var that        = this
    var activeIndex = this.getActiveIndex()

    if (pos > (this.$items.length - 1) || pos < 0) return

    if (this.sliding)       return this.$element.one('slid.bs.carousel', function () { that.to(pos) })
    if (activeIndex == pos) return this.pause().cycle()

    return this.slide(pos > activeIndex ? 'next' : 'prev', $(this.$items[pos]))
  }

  Carousel.prototype.pause = function (e) {
    e || (this.paused = true)

    if (this.$element.find('.next, .prev').length && $.support.transition) {
      this.$element.trigger($.support.transition.end)
      this.cycle(true)
    }

    this.interval = clearInterval(this.interval)

    return this
  }

  Carousel.prototype.next = function () {
    if (this.sliding) return
    return this.slide('next')
  }

  Carousel.prototype.prev = function () {
    if (this.sliding) return
    return this.slide('prev')
  }

  Carousel.prototype.slide = function (type, next) {
    var $active   = this.$element.find('.item.active')
    var $next     = next || $active[type]()
    var isCycling = this.interval
    var direction = type == 'next' ? 'left' : 'right'
    var fallback  = type == 'next' ? 'first' : 'last'
    var that      = this

    if (!$next.length) {
      if (!this.options.wrap) return
      $next = this.$element.find('.item')[fallback]()
    }

    if ($next.hasClass('active')) return this.sliding = false

    var e = $.Event('slide.bs.carousel', { relatedTarget: $next[0], direction: direction })
    this.$element.trigger(e)
    if (e.isDefaultPrevented()) return

    this.sliding = true

    isCycling && this.pause()

    if (this.$indicators.length) {
      this.$indicators.find('.active').removeClass('active')
      this.$element.one('slid.bs.carousel', function () {
        var $nextIndicator = $(that.$indicators.children()[that.getActiveIndex()])
        $nextIndicator && $nextIndicator.addClass('active')
      })
    }

    if ($.support.transition && this.$element.hasClass('slide')) {
      $next.addClass(type)
      $next[0].offsetWidth // force reflow
      $active.addClass(direction)
      $next.addClass(direction)
      $active
        .one($.support.transition.end, function () {
          $next.removeClass([type, direction].join(' ')).addClass('active')
          $active.removeClass(['active', direction].join(' '))
          that.sliding = false
          setTimeout(function () { that.$element.trigger('slid.bs.carousel') }, 0)
        })
        .emulateTransitionEnd($active.css('transition-duration').slice(0, -1) * 1000)
    } else {
      $active.removeClass('active')
      $next.addClass('active')
      this.sliding = false
      this.$element.trigger('slid.bs.carousel')
    }

    isCycling && this.cycle()

    return this
  }


  // CAROUSEL PLUGIN DEFINITION
  // ==========================

  var old = $.fn.carousel

  $.fn.carousel = function (option) {
    return this.each(function () {
      var $this   = $(this)
      var data    = $this.data('bs.carousel')
      var options = $.extend({}, Carousel.DEFAULTS, $this.data(), typeof option == 'object' && option)
      var action  = typeof option == 'string' ? option : options.slide

      if (!data) $this.data('bs.carousel', (data = new Carousel(this, options)))
      if (typeof option == 'number') data.to(option)
      else if (action) data[action]()
      else if (options.interval) data.pause().cycle()
    })
  }

  $.fn.carousel.Constructor = Carousel


  // CAROUSEL NO CONFLICT
  // ====================

  $.fn.carousel.noConflict = function () {
    $.fn.carousel = old
    return this
  }


  // CAROUSEL DATA-API
  // =================

  $(document).on('click.bs.carousel.data-api', '[data-slide], [data-slide-to]', function (e) {
    var $this   = $(this), href
    var $target = $($this.attr('data-target') || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, '')) //strip for ie7
    var options = $.extend({}, $target.data(), $this.data())
    var slideIndex = $this.attr('data-slide-to')
    if (slideIndex) options.interval = false

    $target.carousel(options)

    if (slideIndex = $this.attr('data-slide-to')) {
      $target.data('bs.carousel').to(slideIndex)
    }

    e.preventDefault()
  })

  $(window).on('load', function () {
    $('[data-ride="carousel"]').each(function () {
      var $carousel = $(this)
      $carousel.carousel($carousel.data())
    })
  })

}(jQuery);

</script>

<script type="text/javascript">
  var $ = jQuery.noConflict();
  $(document).ready(function() { 
      $('#myCarousel').carousel({ interval: 6000, cycle: true });
  }); 
</script>

 <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>

   